<h1>Hello Amigo!</h1>
<h2>Copy and Paste this test URL: <%= link_to "https://webhook-rails.herokuapp.com/webhooks/receiver", "http://webhook-rails.herokuapp.com/webhooks/receiver" %> for checking the status of any Webhook!</h2>
<h3>Courtesy of: <%= link_to "ComproPago", "http://compropago.com" %>.</h3>